# Environment variables - NEVER push to GitHub
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.log
*.pot
db.sqlite3
media/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
